<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.com.disha">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestedMeeting"></activity>
        <activity android:name=".StudQues" />
        <activity android:name=".Meeting" />
        <activity android:name=".AskQuestion" />
        <activity android:name=".ProfessorList" />
        <activity android:name=".tearcher.teacherDashboard" />
        <activity android:name=".tearcher.TeacherInfo"></activity>
        <activity android:name=".tearcher.otpsignin">

        </activity>
        <activity android:name=".StudentDashboard">

        </activity>
        <activity android:name=".Student_details" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FirstScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
    </application>

</manifest>